* {
  padding: 0;
  margin: 0;
}

p {
  text-align: center;
  padding: 1%;
}

body {
  font-family: "Ysabeau SC", sans-serif;
  height: 100%;
}

.encabezado {
  justify-content: space-between;
  background-color: lightblue;
  padding: 5px;
}

.nav-encabezado {
  height: 50%;
  width: 40%;
  padding: 10px;
  display: flex;
  color: snow;
  justify-content: space-around;
  border-radius: 10px;
}

.boton-main {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: snow;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  font-weight: 600;
}

#dark {
  background-color: black;
  color: snow;
}

.pdp {
  justify-content: space-evenly;
  width: 100%;
  height: 20%;
  background-color: lightblue;
}

.pdp-address {
  text-align: left;
}

.pdp-sm {
  text-align: right;
}

.no-bullets {
  list-style: none;
}

#sede-central, #carrusel, .cont-marcas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#a-y-t, #fotos-marcas, .encabezado, .pdp {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

@media (max-width: 576px) {
  body {
    font-size: x-small;
  }
  .encabezado {
    display: flex;
    flex-direction: column;
  }
  .nav-encabezado {
    justify-content: space-evenly;
  }
  .boton-main {
    font-size: x-small;
    font-weight: 800;
  }
  .pdp {
    display: flex;
    flex-direction: column;
    font-size: medium;
    justify-content: center;
  }
  #contenedores {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
#imagen-local {
  width: 100%;
  height: 10%;
}

.cont-marcas {
  background-color: lightblue;
  justify-content: space-evenly;
  font-size: large;
  padding: 1%;
}

#fotos-marcas {
  justify-content: space-evenly;
  padding-top: 20px;
}

.img-index {
  height: 25%;
  width: 100%;
  object-fit: cover;
  padding: 10px;
}

#a-y-t {
  height: 450px;
  width: 100%;
  padding: 1%;
}

.titulo {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#carrusel {
  height: 100%;
  background-color: lightblue;
}

#sede-central {
  height: 100%;
  width: 50%;
  color: white;
  background-image: url(../img/fondo-gris.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 576px) {
  .cont-marcas {
    font-size: small;
  }
  .boton-main {
    font-size: medium;
  }
  #fotos-marcas {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 400px;
    order: 8;
    margin-bottom: 175px;
  }
  #sede-central {
    width: 100%;
  }
  .img-index {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #a-y-t {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 80px;
  }
}
.titulos-nosotros {
  text-align: center;
  color: white;
  background-image: url(../img/fondo-gris.jpg);
  background-size: cover;
  background-position: center;
  padding: 1%;
}

#contenedores {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#img-vision {
  background-color: grey;
  margin: 1%;
}

#img-ambiente {
  background-color: rgb(10, 204, 97);
  margin: 1%;
}

@media (max-width: 576px) {
  .fm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .img-marcas {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.fm {
  display: flex;
}

#multimarca {
  background-color: gray;
  text-align: center;
  padding: 1%;
}

.titulos-marcas {
  text-align: center;
  background-color: lightskyblue;
  padding: 0.5%;
  font-size: x-large;
}

#formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ubicacion {
  background-color: lightblue;
  padding: 1%;
  margin: 3%;
}

.local {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.texto-locales {
  font-size: large;
  font-weight: 800;
}

@media (max-width: 576px) {
  .pag-contacto {
    display: inline-block;
  }
  #cliente {
    height: fit-content;
  }
}
.titulo-contacto {
  text-align: center;
  padding: 1%;
}

.subtitulo-contacto {
  font-size: x-large;
  font-weight: bold;
}

.titulo-area-contacto {
  font: large;
  font-style: italic;
  font-weight: 600;
}

#empleado {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightcyan;
}

#cliente {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightsteelblue;
}

#contacto {
  margin-bottom: 1%;
  padding: 1%;
}

#empleado-fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/empleado.jpg);
  background-size: cover;
  background-position: center;
  padding: 1%;
  margin: 50px;
  height: 200px;
  color: snow;
}

#cliente-fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/cliente.jpg);
  background-size: cover;
  background-position: center;
  padding: 1%;
  margin: 50px;
  height: 200px;
  color: snow;
}

/*# sourceMappingURL=style.css.map */
