.fm{
    display: flex;
    justify-content: space-evenly;
}

.img-marcas{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}


#multimarca{
    background-image: url(../img/fondo-gris.jpg);
    background-size: cover;
    background-position: center; 
    color: snow;
    text-align: center;
    padding: 1%;
}

.titulos-marcas{
    text-align: center;
    background-color: lightskyblue;
    padding: 0.5%;
    font-size: x-large;
}


#formulario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#input-furmulario{
    display: flex;
    justify-content: center;
    text-align: left;
    align-content: center;
}

.bloque{
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}