@media (max-width: 576px) {

}

.titulos-nosotros{
    text-align: center;
    color: white;
    background-image: url(../img/fondo-gris.jpg);
    background-size: cover;
    background-position: center; 
    padding: 1%;
}


#contenedores{
    display: flex;
    flex-direction: row;
    text-align: center;
}


#img-vision{
    background-color: grey;
    margin: 1%;
}

#img-ambiente{
    background-color: rgb(10, 204, 97);
    margin: 1%;
}