.titulos-nosotros{
    text-align: center;
    color: white;
    background-image: url(../img/fondo-gris.jpg);
    background-size: cover;
    background-position: center; 
    padding: 1%;
}

.texto-nosotros{
    height: 300px;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

#contenedores{
    display: flex;
    justify-content: center;
}

#mision{
    display: flex;
    justify-content: center;
}

#texto-mision{
    display: flex;
    justify-content: center;
    width: 75%;
    font-size: medium;
}

#img-vision, #img-ambiente{
    display: flex;
    margin: 1%;
    justify-content: center;
    align-content: center;
    
}