*{
    padding: 0;
    margin: 0;
}

p{
    text-align: center;
    padding: 1%;
}

body{
    font-family: 'Ysabeau SC', sans-serif;
    height: 100%;
}

.encabezado{
    @extend %flex-row;
    justify-content: space-between;
    background-color: $color-ppal;
    padding: 5px;
}

.nav-encabezado{
    height: 50%;
    width: 40%;
    padding: 10px;
    display: flex;
    color: snow;
    justify-content: space-around;
    border-radius: 10px;
}


.boton-main{
    margin-left: 10px;
    padding: 5px 10px;
    background-color: snow;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    font-weight: 600;
}

.boton-main:hover{
    background-color: black;
    color: snow;
}


#dark{
    background-color: black;
    color: snow;
}

#dark:hover{
    background-color: lightseagreen;
    color: black;
}


.pdp {
    @extend %flex-row;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
    background-color: $color-ppal;
}

.pdp-address, .pdp-sm {
    @extend %flex-column;
    justify-content: center;
    margin-bottom: 20px;
}

.pdp-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

%flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

%flex-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
